/**
 * @name LeighMagee
 * @author VanillyNeko
 * @version 0.0.2
 * @description Description
 * @website https://github.com/arty01238
 * @source https://github.com/arty01238/leighmagees-bd-theme
**/

@import url(https://arty01238.github.io/leighmagees-bd-theme/main.css)
